.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 8px 0;
  border-bottom: solid 1px #dbdbdb;
}

.header > img {
  object-fit: contain;
  margin-left: 100px;
}

.header__user {
  display: flex;
  margin-right: 100px;
}

.header__user > button {
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 700;
  transition: all 200ms;
}

.header__user > button:hover {
  transform: scale(1.1);
}
